.search-result__loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 282px;
	display: none;
}

.search-result__loading_not-found {
	height: 374px;
	border-bottom: 8px solid white;
}

.search-result__icon {
	margin: 80px auto 24px;
	width: 74px;
	height: 74px;
}

.search-result__icon_not-found {
	content: url(../../../images/not-found.png);
	height: 96px;
	width: 96px;
	margin: 86px auto 24px;
}

.search-result__text {
	margin: 0 auto 80px;
	font-family: 'Roboto', 'Helvetica', 'Helvetica Neue', 'Arial', 'Tahoma', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #B6BCBF;
	text-align: center;
}

.search-result__text_not-found {
	width: 319px;
}

.search-result__nothing-found {
	font-family: 'RobotoSlab', 'Helvetica', 'Helvetica Neue', 'Arial', 'Tahoma', sans-serif;

	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	color: #1A1B22;
	margin: 0 auto 16px;
}